<div class="umlaut-az">
  <% group_list.each do |letter| %>
    <% if params[:id] == letter %>
        <%= content_tag "span", letter %>
    <% else %>
          <a href="journal_list/<%= letter %>?umlaut.locale=<%= I18n.locale %>">
            <%= letter %>
          </a>
    <% end %>
  <% end %>
</div>


